<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>63557097826-jsr9hfma0ldts0p8jcjoq13rdus2gsnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63557097826-jsr9hfma0ldts0p8jcjoq13rdus2gsnq</string>
	<key>API_KEY</key>
	<string>AIzaSyBGg7UURxzlau1HOWFQZ-N_NwW1BeW0GOM</string>
	<key>GCM_SENDER_ID</key>
	<string>63557097826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gymnatic.ios</string>
	<key>PROJECT_ID</key>
	<string>gymnatic-16bad</string>
	<key>STORAGE_BUCKET</key>
	<string>gymnatic-16bad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:63557097826:ios:ad4298b265eee7f7</string>
	<key>DATABASE_URL</key>
	<string>https://gymnatic-16bad.firebaseio.com</string>
</dict>
</plist>